name: Publish to pub.dev

on:
  release:
    types: [published]

permissions:
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Publish to pub.dev
        run: dart pub publish --force
